/* tags html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* header */

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(180deg, rgba(244, 237, 162, 0.44) 0%, rgba(170, 128, 73, 0.69) 0.01%, #F4EDA2 100%);
    height: 80px;
    width: 100%;
    padding: 0 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    user-select: none;
}

.bottom-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #223C5B;
    color: #ffffff;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    user-select: none;
}

.cep-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    padding-right: 10px;
    user-select: none;
    background: linear-gradient(180deg, #213B5A 90%, rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo {
    width: 50px;
    height: 50px;
}

.logo-text {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(90deg, #AA8049 50%, #F4EDA2 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    user-select: none;
}

.group1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.group1-icon {
    width: 30px;
    height: 30px;
    margin: 0 0px;
    user-select: none;
}

.group1-text {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: bold;
    margin: 0 0px;
    white-space: nowrap;
    user-select: none;
}

/* body */

.container {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    gap: 2rem;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recomendados {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px 0;
    padding: 10px;
    width: 240px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #C9E1FE;
}

.produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
}

.produto-img {
    width: 90%;
    height: 80%;
    object-fit: contain;
    background-color: #ffffff;
    border-radius: 8px;
    
}

/* login */

.containerlogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    background-color: #223C5B;
    height: 100vh;
}

/* id */

#entrada {
    background: linear-gradient(180deg, rgba(244, 237, 162, 0.44) 0%, rgba(170, 128, 73, 0.69) 1%, #F4EDA2 100%);
    color: #223C5B;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
}

#cadastrar {
    background: linear-gradient(180deg, rgba(244, 237, 162, 0.44) 0%, rgba(170, 128, 73, 0.69) 1%, #F4EDA2 100%);
    color: #223C5B;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
}

#search {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 18px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin-left: 10px;
}